.App {
    background-color: #DCDCDC;
    text-align: center;
}

.App-header1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282828;
  min-height: 10vh;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-w3-header {
    display:none;
    z-index:2;
    width:40%;
    min-width:300px
}

.App-logo img {
    width: 100%;
}

.App-Photos {
  background-color: #282828;
  min-height: 50vh;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-w3-img {
    width: 100%;
}

.App-News {
  background-color: #282828;
  min-height: 50vh;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282828;
  min-height: 30vh;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

